<div class="dock">

<%= link_to home_top_path, class: "dock-item flex flex-col items-center #{current_page?(home_top_path) ? 'text-blue-300' : 'text-base-content'}" do %>
    <i class="fa-solid fa-house text-2xl"></i>
    <span class="dock-label text-sm">ホーム</span>
<% end %>

<%= link_to habits_path, class: "dock-item flex flex-col items-center #{current_page?(habits_path) ? 'text-blue-300' : 'text-base-content' }" do %>
    <i class="fa-solid fa-paw text-2xl"></i>
    <span class="dock-label text-sm">習慣</span>
<% end %>

<%= link_to calendars_path, class: "dock-item flex flex-col items-center #{current_page?(calendars_path) ? 'text-blue-300' : 'text-base-content' }" do %>
    <i class="fa-solid fa-calendar text-xl"></i>
    <span class="dock-label text-xs">カレンダー</span>
<% end %>

<!-- link_to boards_path -->
<%= link_to "", class: "dock-item flex flex-col items-center" do %>
    <i class="fa-solid fa-book text-xl"></i>
    <span class="dock-label text-xs">掲示板</span>
<% end %>

<!-- link_to user_path(current_user) -->
<%= link_to "", class: "dock-item flex flex-col items-center" do %>
    <i class="fa-solid fa-user text-xl"></i>
    <span class="dock-label text-xs">ユーザー</span>
<% end %>
</div>