<%= turbo_frame_tag "habit-slot-#{habit.position}" do %>
    <% slot_class =
        case habit.position
            when 1 then "left-[10%] bottom-[3%]"
            when 2 then "left-[40%] bottom-[25%]"
            when 3 then "left-[60%] bottom-[1%]"
        end %>
    <div id="habit-slot-<%= habit.position %>"
        class="absolute <%= slot_class %> text-center">
        <p class="inline-flex items-center gap-2 rounded-full bg-base-200/80 px-4 py-2 text-sm font-bold text-neutral/70 shadow-sm">
            <%= habit.title %>
        </p>
        <div data-controller="bubble" class="bubbly-button relative " data-action="click->bubble#animate">
            <%= image_tag(asset_exist?("#{habit.partner.code}_2.webp") ?
            "#{habit.partner.code}_2.webp" :
            "no_image.webp",
            class: "w-[200px] h-[200px] bubble-img") %>
        </div>
    </div>
<% end %>
