<div class="min-h-screen bg-cover bg-center"
    style="background-image: url(<%= asset_path('pc_back_lunch.webp') %>);">

    <% if @habits.size < 1 %>
        <div class="relative z-10  flex items-center justify-center px-4 py-12">
            <div class="w-full max-w-4xl rounded-3xl border border-base-200 bg-base-100/95 shadow-2xl backdrop-blur p-8 md:p-12 space-y-8">
                <div class="flex flex-col items-center gap-3 text-center">
                    <p class="items-center gap-2 rounded-full bg-base-200/80 px-4 py-2 text-2xl text-neutral/70 shadow-sm">
                        <%= current_user.name %>さん、こんにちは！<br>
                        👇にある<i class="fa-solid fa-paw text-2xl text-accent"></i>のボタンを押して、習慣を登録してね
                    </p>
                </div>
            </div>
        </div>
    <% end %>

    <div class= "flex justify-center items-end h-screen">
        <% @habits.each do |h| %>
            <% slot_class =
                case h.position
                    when 1 then "left-[10%] bottom-[3%]"
                    when 2 then "left-[40%] bottom-[25%]"
                    when 3 then "left-[60%] bottom-[1%]"
                end %>
        <div id="habit-slot-<%= h.position %>" class="absolute <%= slot_class %> text-center">
            <p class="inline-flex gap-2 rounded-full bg-base-200/80 px-4 py-2 text-sm font-bold text-neutral/70 shadow-sm">
                <%= h.title %>
            </p>
            <% done = @completed_habit_ids.include?(h.id) %>
            <% if done %> <!-- 習慣未完了ならボタン化、完了してたら😄にするやつ -->
                <%= image_tag(asset_exist?("#{h.partner.code}_2.webp") ?
                    "#{h.partner.code}_2.webp" :
                    "no_image.webp",
                    class: "w-[200px] h-[200px]") %>
            <% else%>
                <%= button_to habit_habit_logs_path(h),
                    form: { data: { turbo_stream: true } },
                    class: "p-0 bg-transparent border-none" do %>
                <%= image_tag(asset_exist?("#{h.partner.code}_1.webp") ?
                    "#{h.partner.code}_1.webp" :
                    "no_image.webp",
                    class: "w-[200px] h-[200px]") %>
                <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
