<div
    class="min-h-screen bg-cover bg-center"
    style="background-image: url(<%= asset_path('pc_back_lunch.webp') %>);">

<div class= "flex justify-center items-end h-screen">
<% completed = @completed_habit_ids.include?(habit.id) %>
    <% @habits.each do |h| %>
    <% slot_class =
        case h.position
            when 1 then "left-[10%] bottom-[5%]"
            when 2 then "left-[40%] bottom-[27%]"
            when 3 then "left-[60%] bottom-[5%]"
        end %>
    <div id="habit-slot-<%= h.position %>"
        class="absolute <%= slot_class %> text-center">
        <%= h.title %>
        <%= image_tag(asset_exist?("#{h.partner.code}_1.webp") ?
            "#{h.partner.code}_1.webp" :
            "no_image.webp",
            class: "w-[200px] h-[200px]") %>
    </div>
    <% end %>
</div>
</div>
