<h1>編集ページ</h1>

<div id="habit_form">
    <div id="habit_modal_flash">
        <%= render "habits/modal_flash", habit: habit, flash: flash %>
    </div>

<%= form_with model: habit, data: { turbo_frame: "_top", action: "turbo:submit-end->modal#closeOnSuccess" } do |f| %>
    <div>
    <h3 class="text-lg font-bold">
    <%= f.label :title, "習慣を入力してね" %>
    <h3>
    <%= f.text_field :title, class: "input input-bordered w-full" %>
    </div>
    <div class="flex gap-4">
    <% partners.each do |partner| %>
    <label class="cursor-pointer">
        <%= f.radio_button :partner_id, partner.id, class: "hidden peer" %>
        <div class="p-4 border rounded peer-checked:border-blue-500">
        <p>ID: <%= partner.id %></p>
        <p><%= partner.name %></p>
    </div>
    </label>
    <% end %>
    </div>
    <div>
        <%= f.submit "保存", class: "btn btn-neutral mt-4" %>
    </div>
<% end %>

</div>