<div id="habit_form">
    <div id="habit_modal_flash">
        <%= render "habits/modal_flash", habit: habit, flash: flash %>
    </div>

<%= form_with model: habit, data: { turbo_frame: "_top", action: "turbo:submit-end->modal#closeOnSuccess" } do |f| %>
    <div>
    <h3 class="text-lg font-bold">
    <%= f.label :title, "習慣を入力してね" %>
    <h3>
    <%= f.text_field :title, class: "input input-bordered w-full" %>
    </div>
    <div class="flex gap-4 flex-wrap">
    <% partners.each do |partner| %>
    <label class="cursor-pointer block">
        <%= f.radio_button :partner_id, partner.id, class: "hidden peer" %>
        <div class="p-4 border rounded peer-checked:border-blue-500 w-[150px] text-center">
        <div class="w-32 h-32 mx-auto flex items-center justify-center"> <!-- アイコンを正方形 -->
        <p><%= image_tag(asset_exist?("partners/#{partner.code}.webp") ?
            "partners/#{partner.code}.webp" :
            "partners/no_image_icon.webp",
            class: "max-w-full max-h-full object-contain object-center") %></p>
        </div>
        <p><%= partner.name %></p>
    </div>
    </label>
    <% end %>
    </div>
    <div>
        <%= f.submit "登録", class: "btn btn-neutral mt-4" %>
    </div>
<% end %>

</div>