<!DOCTYPE html>
<html data-theme="caramellatte">
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/0e90f17399.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/cally"></script>
  </head>

  <body class="min-h-screen bg-base-100 text-base-content">
    <div class="flex min-h-screen flex-col">
      <header class="sticky top-0 z-30 bg-base-100/90 backdrop-blur">
        <%= render 'shared/header' %>
      </header>

      <main class="flex-1 pb-15">
        <div id="flash">
          <%= render "layouts/flash" %>
        </div>
        <%= yield %>
      </main>

      <footer class="pt-2">
        <%= render 'shared/footer' %>
      </footer>
    </div>
  </body>
</html>
